.map-wrapper {
    height: 100%;
    .leaflet-container {
        width: 100%; 
        height: 100%;
    }
}
.request-popup{
    .leaflet-popup-content-wrapper {
    width: 350px;
    border-radius: 10px;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    .leaflet-popup-content {
        font-family: 'Inder', sans-serif;
        color: black;
        text-transform: uppercase;
        h1{
            font-family: 'Signika', sans-serif;
            font-size: 2rem; 
            font-weight: normal;
            margin-bottom: 0;
            text-align: center;
        }
        p{
            color: gray; 
            font-size: 20px; 
            font-weight: 500; 
            line-height: 32px; 
            margin-bottom: 0;
            text-align: justify;
            text-transform: initial;
            &.homeType{
                color: black;
                font-size: 1.15rem;
                text-align: center;
                text-transform: uppercase;
            }
        }
        h4{
            font-size: 1rem;
            display: inline;
            border: none;  
            text-align: left;
        }
    }
  }
}
.search-control-icon-button {
    display: flex;
    align-items: center;
}
.search-control-info {
    padding: 15px !important;
    text-align: left !important;
    --background-color-candidate: #e0e4ff;
    --background-color-hover: #b6c1ff;
    --background-color-active: #98a7f7;
}
.search-input {
    padding-left: 15px !important;
}
.availability {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
    .available {
        text-align: center;
        color: #28c71a;
    }

    .busy {
        text-align: center;
        color: #d81f0b;
    }
}
.buttonPopup{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.gridContainer1{
    padding-bottom: 2px;
    padding-top: 10px;
    font-size: 1.15rem;
    text-align: center;
    font-family: 'Inder';
    text-transform: uppercase;
}
.gridContainer2{
    padding-bottom: 2px;
    padding-top: 10px;
}
.custom-pin {
    width: 3rem;
    height: 2.4rem;
    padding-top: 0.6rem;
    line-height: 0.9rem;
    display: block;
    left: -1.5rem;
    top: -1.5rem;
    position: relative;
    border-radius: 3rem 3rem 0;
    transform: rotate(45deg);
    border: 1px solid #FFFFFF
}
