.map-wrapper {
    height: 100%;
    .leaflet-container {
        width: 100%; 
        height: 100%;
    }
}
.request-popup{
    .leaflet-popup-content-wrapper {
    width: 320px;
    border-radius: 10px;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

    .leaflet-popup-content {
        h1{
            color: black;
            font-size: 1.3rem; 
            font-weight: normal;
            margin-bottom: 0rem;
            text-align: center;
        }
        p{
            margin-top: 0rem;
            color: dimgray;
            font-size: 1rem;
            text-align: center;
        }
    }
  }
}
.search-control-icon-button {
    display: flex;
    align-items: center;
}
.search-control-info {
    padding: 15px !important;
    text-align: left !important;
    --background-color-candidate: #e0e4ff;
    --background-color-hover: #b6c1ff;
    --background-color-active: #98a7f7;
}
.search-input {
    padding-left: 15px !important;
}

.availability {
    text-transform: uppercase;
    font-weight: bold;

    .available {
        text-align: center;
        color: #28c71a;
    }

    .busy {
        text-align: center;
        color: #d81f0b;
    }
}


.custom-pin {
    background-color: #583470;
    width: 3rem;
    height: 2.4rem;
    padding-top: 0.6rem;
    line-height: 0.9rem;
    display: block;
    left: -1.5rem;
    top: -1.5rem;
    position: relative;
    border-radius: 3rem 3rem 0;
    transform: rotate(45deg);
    border: 1px solid #FFFFFF
}