.map-wrapper {
    height: 100%;
    .leaflet-container {
        width: 100%; 
        height: 100%;
    }
}
.request-popup{
    .leaflet-popup-content-wrapper {
    width: 400px;
    border-radius: 10px;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

    .leaflet-popup-content {
        h1{
            color: black;
            font-size: 2rem; 
            font-weight: normal;
            margin-bottom: 0rem;
            text-align: center;
            text-transform: uppercase;
        }
        p{
            color: dimgray;
            font-size: 1rem;
            text-align: center;
            margin: 0;
        }
        h4{
            font-size: 1rem;
            display: inline;
            padding: 6px;
            border: none;  
            text-align: left;
            text-transform: uppercase;
        }
        .homeType{
            color: black;
            font-size: 1.15rem;
            text-align: center;
            text-transform: uppercase;
        }
    }
  }
}
.search-control-icon-button {
    display: flex;
    align-items: center;
}
.search-control-info {
    padding: 15px !important;
    text-align: left !important;
    --background-color-candidate: #e0e4ff;
    --background-color-hover: #b6c1ff;
    --background-color-active: #98a7f7;
}
.search-input {
    padding-left: 15px !important;
}

.availability {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 10px;
    .available {
        text-align: center;
        color: #28c71a;
    }

    .busy {
        text-align: center;
        color: #d81f0b;
    }
}
.buttonPopup{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.gridContainer1{
    padding-bottom: 2px;
    padding-top: 10px;
    font-size: 1.15rem;
    text-align: center;
    text-transform: uppercase;
}
.gridContainer2{
    padding-bottom: 2px;
    padding-top: 10px;
}
