.about-content {
    background-color: #e9ecff;
    padding: 0 10%;
    height: 100%;
    margin: auto;
    text-align: left;

    .header {
        color: #2b2b96;
    }

    .subheader {
        color: #2b2b96;
        font-weight: bold;
        margin-bottom: 25px;
    }

    .main-content {
        margin-bottom: 50px;
    }
}