.side-panel {
  position: fixed;
  left: -150px;
  top: 100px;
  width: 200px;
  transition: left 1s ease-out;

  .arrow {
    float: right;
    width: 50px;
    height: 50px;
    background: #f00;
    cursor: pointer;
  }

  .content {
    float: left;
    width: 150px;
    background: #fff;
  }

  &.open {
    left: 0px;
  }
}