@import "~react-image-gallery/styles/scss/image-gallery.scss";


.gallery-container{
    align-content: center;
    width: 250px;
    margin-left: 1rem;
    max-height: 250px;
    max-width: 250px;
    overflow:hidden;
    object-fit: cover;
    object-position: center;
    height: inherit;
}

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
    height: 60px;
    width: 20px;
}

.image-gallery-fullscreen-button .image-gallery-svg, .image-gallery-play-button .image-gallery-svg {
    height: 25px;
    width: 25px;
}