@import "~react-image-gallery/styles/scss/image-gallery.scss";


.gallery-container{
    align-content: center;
    max-width: 300px;
    margin-left: 1rem;
    max-height: 250px;
    display: flex;
}

.image-gallery {
    width: 100%;
    height: auto;
}

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
    height: 60px;
    width: 20px;
}

.image-gallery-fullscreen-button .image-gallery-svg, .image-gallery-play-button .image-gallery-svg {
    height: 25px;
    width: 25px;
}
.image-gallery-slide img {
    height: 250px;
    object-fit: cover;
    object-position: center center;
}
