.spinner {
  border: 16px solid #e5e9ff;
  border-top: 16px solid #6276e3;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}