
.add-poi-fab{
    .fab{
        position: fixed;
        right: 50px;
        bottom: 50px;
        z-index: 2000;
    }
}

.upload-poi-picture {
    margin: 16px 0 16px 0;
}

.wrapper-button {
    position: relative;

    .button-progress {
        color: #3f51b5;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -12px;
        margin-left: -12px;
    }
}